/*------------------Шрифти------------------------------*/
@font-face {
    font-family:"Excon";
    src:url("/fonts/Excon-Regular.otf");
}
@font-face {
    font-family:"Ranade";
    src:
    url("/fonts/Ranade-Bold.otf"),
    url("/fonts/Ranade-Medium.otf"),
    url("/fonts/Ranade-Regular.otf");
}

:root{
/*------------------Font-family------------------------------*/
--ff-excon: 'Excon', sans-serif;
--ff-ranade: 'Ranade', sans-serif;

/* ------------------ Colors ------------------ */
--color-black:#000000;
--color-graffit: #303030;


/* ------------------ Background ------------------ */
--bg-cream:#FFF4EB;
--bg-graffit:#303030;
--bg-dark-cream:#CA9277;

}

/*------------------Default style------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
    line-height: 1;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: inherit;
}

button {
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
}

/* ------------------Main style------------------------ */
body {
    background: var(--bg-cream);
    color: #303030;
    font-family: var(--ff-excon);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
}

.wrapper {
    /* max-width: 1440px; */
    margin: 0 auto;
    
}

/*--------Налаштування адаптиву-----------------------*/
[class*="__container"] {
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*----------Модулі-----------------------------------*/
.title {
    width: 100%;
    padding-bottom: 40px;
    font-size: 64px;
    font-family: var(--ff-ranade), sans-serif;
    font-weight: 500;
    line-height: 64px;
}

.text {
    width: 100%;
    padding-bottom: 55px;
    font-size: 18px;
    font-family: var(--ff-excon), sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
}

/*---------Загальні стилі--------------------------------------------*/
.page {
    flex: 1 1 auto;
    
}
/*----------------------Header-------------------------*/
.header {
    height: 104px;  
}

.header__fixed {
    background: var(--bg-cream);
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: solid 0.5px #CA9277;
    
}

.header__container {
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 104px;    
}

.header__logo img {
    width: 45px;
}

.header-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
}

.cart {
    width: 18px;
    height: 20px;
}

/* ------------------Стилі бургера------------------ */
#menuToggle {
    display: block;
    position: relative;
    /* top: 50px;
    left: 50px;

    z-index: 1; */

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: var(--bg-cream);

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    text-decoration: underline;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span.short {
    width: 18px;
}

#menuToggle span {
    display: block;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;

    background: #303030;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 2px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/*Transform all the slices of hamburger into a crossmark.*/
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*But let's hide the middle one.*/
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*Ohyeah and the last one should go the other direction*/
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -0.5px);
}

/*Make this absolute positioned at the top left of the screen*/
#menu {
    position: absolute;
    width: 250px;
    /* margin: -6.25rem 0 0 -7.5rem; */
    padding: 50px;
    padding-top: 60px;

    background: #CA9277;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-500%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/* And let's slide it in from the left */
#menuToggle input:checked~ul {
    transform: none;
}


/*------------------Main-section--------------------*/

.started-section {
    position: relative;
}

.started-section:before {
    content: "";
    position: absolute;
    height: 100%;
    right: 0;
    background-color: var(--bg-dark-cream);
    width: 41%;
}

.started-section__container {
    display: flex;
    padding: 112px 0;
    align-items: center;
    justify-content: flex-start;
    gap: 45px;
}

.started-section__sliders {
    max-width: 610px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    border: none;
    background: transparent;
    outline: none;
}

.slider-btn {
    width: 120px;
    height: 120px;
    background-color: var(--bg-cream);
    border-radius: 50%;
    padding-left: 34px;
    padding-top: 6px;
    position: absolute;
    z-index: 2;
    top: 64%;
    transform: translateX(458%);

}

.slider-btn:hover {
    background-color: rgba(255, 244, 235, 0.6);
}

.started-section__title {
    max-width: 559px;
    color: var(--color-black);
    font-size: 72px;
    font-family: var(--ff-ranade), sans-serif;
    font-weight: 700;
    line-height: 72px;

 }

.started-section__text {
    max-width: 507px;
    color: var(--color-graffit);
 }


.button {
    color: #FFF4EB;
    padding: 15px 40px;
    background-color: #303030;
    border-radius: 10px;
    transition: all 0.3s;
    text-transform: uppercase;
}

.button:hover {
    border:  solid 2px #303030;
    color: #303030;
    background-color: #FFF4EB;

}

/*------------------learn-section--------------------*/

.learn {
    background-color: var(--bg-graffit);

}

.learn-section__container {
    padding-top: 143px;
    padding-bottom: 190px;
}

.learn-section__title {
    color: var(--bg-cream);
    max-width: 488px;
}

.learn-section__text {
    color: var(--bg-cream);
    max-width: 793px;
}

.learn-section__sliders {
    width: 1200px;

}

.video-slider-wrapper img{
    width: 380px;
    height: 214px;
    border-radius: 10px;
}

.video-name {
    color: var(--bg-cream);
    padding-top: 30px;
    gap: 11px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
}

.video-description {
    color: var(--bg-dark-cream);
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-transform: lowercase;
}

.btn-learn {
    border: none;
    background: transparent;
    outline: none;
}

.slider-btn-learn {
    width: 44px;
    height: 44px;
    background-color: var(--bg-cream);
    border-radius: 50%;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 104%;

}

.slider-btn-learn:hover {
    background-color: var(--bg-dark-cream);
}

.slider-next-video {
    left:7%;
    padding-left: 18px;
}
.slider-prev-video {
    padding-left: 15px;
}

/*------------------lifestyle-section--------------------*/
.lifestyle-section {
    position: relative;
}

.lifestyle-section:before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    background-color: var(--bg-dark-cream);
    width: 41%;
}

.lifestyle-section__container {
    padding: 123px 0 192px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 30px;
    position: relative;


}

.lifestyle-section__content {
    max-width: 548px;
    padding-top: 79px;

}

.lifestyle-section__title {
    color: var(--color-black);
}

.lifestyle-section__image2 {
    max-width: 353px;
    width: 100%;
    max-height: 440px; 
    position: relative;
}

.lifestyle-section__image1 {
    max-width: 353px;
    max-height: 440px;
    position: absolute;
    z-index: 2;
    left: 19%;
    top: 26%;
   
}
